body {
    background-color: rgb(193 193 193);
    color: #1b1b1b;
    font:message-box;
}

.heading
    border-width: 0px 0px 0px 2px;

.sub
    border-width: 0px 0px 0px 2px; 

.header {
    margin: 10px 10% 10px 10%;
    padding: 25px;
}

.title {
    margin: auto;
    font-size: 25px;

}

.border {

    border-style:solid;
    border-radius: 15px;
    border-width: 1px 0px 0px 1px;
    border-color:#9c9c9c;

}

.nav {
    margin: 01px 10% 10px 10%;

}



.nava:hover {

    color:white;
    padding: 5px 20px 5px 50px;
    border-color:white;
}

.nava {
    margin: 10px 20px 10px 0px;
    display:inline-block;
    padding: 5px 50px 5px 20px;
    transition: color .5s, padding .5s;
    text-decoration: none;
    color: #0e3a8a;
}
.content {
    margin: 10px 10% 10px 10%;
    padding: 40px; 
}