body {
    background-color: rgb(105, 105, 105);
    color: antiquewhite;
    font:message-box
    color: white;
  text-shadow: 2px 2px 10px #383838
}

a {
    color:black;
    text-decoration:none;
}

.header {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);
    padding: 25px;
    box-shadow: 5px 5px 10px rgba(68 68 68);
}

.title {
    margin: auto;
    font-size: 25px;
    text-align:center;

}

.nav {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);
    box-shadow: 5px 5px 10px rgba(68 68 68);

}

.navlist {
    margin: auto;
}

.navbutton {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 5px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);
    display:inline-block;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(68 68 68);
}
.content {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(68 68 68);


    
}