body {
    background-color: rgb(105, 105, 105);
    color: antiquewhite;
    font:message-box
}

.header {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);
}

.title {
    margin: auto;
    font-size: 25px;
    text-align:center;
}

.nav {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);

}

.navlist {
    margin: auto;
}

.navbutton {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);
    display:inline-block;
    padding: 5px;
}
.content {
    margin: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(76 76 76);
    padding: 40px
    
}